/*GENERAL STYLES*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: hsl(0, 100%, 100%);
  min-height: 100vh;
}

.container1 {
  text-align: center;
  margin: 0 25px 0 25px;
}

.container2 {
  text-align: center;
  margin: 0 25px 0 25px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  padding-top: 90px;
}

.description {
  margin: 25px 0 65px 0;
}

/*FORM*/

.form-box {
  background-color: hsl(0, 100%, 100%);
  box-shadow: 0px 8px hsl(0, 37%, 60%);
  margin: 0 0 10px 0;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 25px 25px 0 25px;
  padding: 16px 0 10px 0;
}

input {
  font-family: "Poppins", sans-serif;
}

input[type="text"] {
  font-size: 14px;
  font-weight: 600;
  color: hsl(251, 4%, 49%);
  padding: 15px 0 15px 20px;
  margin: 9px 0 9px 0;
  border-radius: 5px;
  border: 0.1px solid hsl(247, 13%, 87%);
}

input[type="submit"] {
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0px 4px hsl(154, 73%, 43%);
  color: hsl(0, 100%, 100%);
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0 15px 0;
  margin: 9px 0 0 0;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: hsl(151, 53%, 69%);
}

.terms {
  color: hsl(246, 25%, 77%);
  font-size: 11px;
  line-height: 20px;
  margin: 5px 40px 0 40px;
  padding-bottom: 20px;
}

.terms span {
  font-weight: 700;
  color: hsl(0, 100%, 74%);
}

/*BUTTONS*/

.btn-try {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: hsl(0, 100%, 100%);
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0px 8px hsl(0, 37%, 60%);
  padding: 20px 50px 20px 50px;
  border-radius: 10px;
  border: 0;
  width: 100%;
}

.btn-try span {
  font-weight: 300;
}

.btn-try:hover {
  background-color: hsl(248, 22%, 55%);
}

/*FOOTER*/

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 40px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */

@media (min-width: 750px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
  }

  .container1 {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
  }

  .container2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .box2 {
    max-width: 80%;
  }

  h1 {
    max-width: 80%;
    font-size: 50px;
    line-height: 60px;
  }

  .description {
    max-width: 80%;
  }

  form {
    margin: 25px 40px 0 40px;
    padding: 31px 0 10px 0;
  }

  input[type="text"] {
    margin: 10px 0 10px 0;
    padding: 16px 0 16px 30px;
  }

  input[type="submit"] {
    margin-top: 10px;
    padding: 15px 0 15px 0;
  }

  .terms {
    padding: 0 0 40px 0;
  }
}
